article.programa_bloque
{
  // border: 1px solid $primaryColor;
  height: auto;
  width: 400px;
  box-shadow: 3px 3px 10px #cccc;
  
  .header_bloque{
    display: flex;
    flex-direction: column;
    padding: 8px;
    font-weight: bold;

    .hora_bloque{
      border-bottom: 1px solid $primaryColor;
      align-items: center;
      color: $gris;
      
      i{
        color: $secondaryColor;
      }

    }

    .titulo_bloque{
      color: $secondaryColor;
    }
  }
  
  
}